@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center">
            <h1 class="text-left">Manage books you have read simply with our app!</h1>
        </div>
        <div class="col-md-8">
            <img src="/images/banner.png" class="shadow p-15 bg-white rounded" alt="" width="100%"/>
        </div>
    </div>
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
