@model Books365WebSite.ViewModels.CreatingViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2 class="text-info">Create new Book</h2>
<hr>

<form method="post">
    <div class="card col-12 jumbotron" style="background-image: url('/image.jpg'); background-size: cover">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Book.Isbn" />
        <div class="form-group row  m-3">
            <div class="col-2 offset-1">
                <label asp-for="Status.PagesRead" class="h3 text-light"></label>
            </div>
            <div class="col-6 offset-2">
                <input asp-for="Status.PagesRead" class="form-control" />
                <span asp-validation-for="Status.PagesRead" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-2 offset-1">
                <label asp-for="Status.Status" class="h3 text-light"></label>
            </div>
            <div class="col-6 offset-2">
                <select class="custom-select" id="inputGroupSelect01" asp-for="Status.Status">
                    <option selected>In progress</option>
                    <option value="Read">Read</option>
                </select>
                <span asp-validation-for="Status.Status" class="text-danger"></span>
            </div>
        </div>
        
        <div class="row  m-3">
            <div class="col-3 offset-5">
                <button type="submit" asp-route-id="@Model.Book.Isbn" asp-action="Update" class="btn btn-info form-control">Submit</button>
            </div>
            <div class="col-3">
                <a asp-action="GetBooks" class="btn btn-danger form-control">Return</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}